{% extends "teacher/base.html" %} {% load static %} {% block banner %} {% endblock banner %} {% block content %}
<div class="container d-flex flex-column  mt-2 mb-5">


    <div>
        <p class="display-4 ">¿ Seguro que deseas eliminar <span class="text-danger">{{assignment}}</span> ? </p>
    </div>


    <form method="POST" class="container">
        {% csrf_token %}
        <div class="justify-content-center mt-2">
            <a href={% url 'teacher-assigment' %} class="btn btn-outline-info w-25">Cancelar</a>
            <button type="submit" class="btn btn-danger w-25">Confirmar</button>
        </div>
    </form>
</div>

{% endblock content %}