{% extends 'base/base.html' %} {% block nav %} {% endblock nav %} {% block aside %} {% endblock aside %} {% block content %}

<body>
    <div class="w-50 mt-5  ml-5">
        <a class="btn btn-info border-light  ml-5 " href="{% url 'login' %}">Regresar</a>
    </div>
    <section class="d-flex justify-content-center">
        <form id="formulario" class="form-group " method="post" accept-charset="utf-8">
            {% csrf_token %}
            <h1> Recuperar Contraseña </h1>
            <label class="col-form-label font-weight-bold h3 mt-4" for="id_email">Correo</label>
            <input class="form-control" type="text" name="email">

            <input class="btn  btn-primary mt-2 form-group " type="submit" name="Enviar" value="Recuperar" />
        </form>
    </section>
</body>
{% endblock content %} {% block footer %} {% endblock footer %}